---
layout: html-tutorial
published: false
---
<div class="site-section" style="margin-top: 100px;">
    <div class="container main-content">
        <div class="row">
            <div class="navi">
                <ol>
                    <li>
                        <h2>First section</h2>

                        {% include _ipsum.html %}
                    </li>
                    <li>
                        <h2>Second section</h2>
                        {% include _ipsum.html %}
                    </li>
                    <li>
                        <h2>Third section</h2>
                        ...
                        <p>
                            {{ site.code }}
                            <p>Please remember this is a free resource, and we are trying our best to make it available
                                to
                                everyone!
                                <blockquote>"This is something I designed for fellow families with children living
                                    through
                                    this
                                    difficult time, it is meant as a GIFT not for profit!"</blockquote>
                            </p>
                            <h4><i class="fas fa-heart"></i> Support LONG Creations</h4>
                            <p> Hello</p>
                            <div>
                                <p>
                                </p>
                            </div>
                            <p>Please remember this is a free resource, and we are trying our best to make it available
                                to
                                everyone!
                                <blockquote>"This is something I designed for fellow families with children living
                                    through
                                    this
                                    difficult time, it is meant as a GIFT not for profit!"</blockquote>
                            </p>
                            <h4><i class="fas fa-heart"></i> Support LONG Creations</h4>
                            <p> Hello</p>
                            <div>
                                <p>
                                </p>
                            </div>
                            <style>
                                p {
                                    color: red
                                }
                            </style>

                            {{ site.endcode }}
                            ... {% include _ipsum.html %}
                        </p>
                    </li>
                    <li>
                        <h2>Fourth</h2>
                        {% include _ipsum.html %}
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>