<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-5">
            <h2 class="footer-heading mb-4">About</h2>
            <p>Our mission is to provide local businesses in Southern Alberta with an easy and comfortable go-to for their marketing consultant requirements. 
              We make every effort to accomodate our client's needs, and to provide a personalized marketing experience..</p>
          </div>
          <div class="col-md-3 ml-auto">
            <h2 class="footer-heading mb-4">Sections</h2>
            <ul class="list-unstyled">
              <li><a href="#about-section">About Us</a></li>
              <li><a href="#work-section">Projects</a></li>
              <li><a href="#services-section">Services</a></li>
              <li><a href="#testimonials-section">Testimonials</a></li>
              <li><a href="#contact-section">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h2 class="footer-heading mb-4">Follow Us</h2>
            <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
        <form action="#" method="post">
          <div class="input-group mb-3">
            <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email"
              aria-label="Enter Email" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary text-white" type="button" id="button-addon2">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <div class="border-top pt-5">
          <p>
            Copyright Embark &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
</div> <!-- .site-wrap -->

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<script src="{{ site.baseurl }}/assets/js/jquery-migrate-3.0.1.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery-ui.js"></script>
<script src="{{ site.baseurl }}/assets/js/popper.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/owl.carousel.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.stellar.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.countdown.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/bootstrap-datepicker.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.easing.1.3.js"></script>
<script src="{{ site.baseurl }}/assets/js/aos.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.fancybox.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.sticky.js"></script>

<script src="{{ site.baseurl }}/assets/js/typed.js"></script>
<script>
  var typed = new Typed('.typed-words', {
    strings: ["Journey Together", "Marketing Adventure", "Creative Experience"],
    typeSpeed: 80,
    backSpeed: 80,
    backDelay: 4000,
    startDelay: 1000,
    loop: true,
    showCursor: true
  });
</script>

<script src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>

</html>