---
---
@import "variables";
$baseurl: '{{ site.baseurl }}';
@import "bootstrap.min";
@import "style";



.flex-fix {
    @media (max-width: 992px) {
        display: flex;
        flex-direction: column;     
    }
    
    display:flex;
    flex-direction: row;
}

.social-media {
    @media (max-width: 992px) {
        display: none !important;
        float:left !important;
        padding: 10px 0px;
    }
}

blockquote {
    border-left: 3px solid $brandcolor;
    padding: 0 0 0 25px;
}

.testimonial {
    blockquote {
        border: none;
        padding: 0 15px;
    }
}